/* CSS copied from Calvin Cheng */

html, body {
  height: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  
}

body > * {
  border:3px solid darkblue;
}

body > header, body > footer {
  background: #791ee1;
  color: #eee;
  height: 70px;
  line-height:70px;
  text-align:center;
}

main {
  background: antiquewhite;
}

main > .content {
  background: antiquewhite;
}

main > aside {
  color: whitesmoke;
  background: #da1ee1;
  height: 100%;
}

main > nav {
  color: whitesmoke;
  background: #da1ee1;
  height: 100%;
  font-size: 1.25em;
}

aside > ul {
  list-style-type: none;
}
nav > ul {
  list-style-type: none;
}

.deck {
  background: antiquewhite;
}

.centerWords {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navAlign {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:flex-start;
  background: #da1ee1;
}


a:link {
  color: antiquewhite;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: antiquewhite;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: antiquewhite;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: antiquewhite;
  background-color: transparent;
  text-decoration: underline;
}

ul {
  line-height: 250%
}